{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1>O nama</h1>
    <p>TipujGa predstavlja mesto na kome svi zaljubljenici u kladionicu mogu da pogledaju predloge drugih ljudi, kao i da postave svoje mišljenje o određenoj utakmici.</p>
    <div style="text-align:center;padding:1em 0;"> <h3><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/en/city/792680"><span style="color:gray;">Current local time in</span><br />Belgrade, Serbia</a></h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=Europe%2FBelgrade" width="100%" height="115" frameborder="0" seamless></iframe> </div>

</div>
{% endblock content  %}